/*Colours*/
$colour-1st: #03D9C6;
$colour-2nd: #FC0853;
$colour-3rd: #DBB404;
$colour-toolbar: #212529;
$colour-background: #424247;

/*font size*/
$font-small: 18px;
$font-med: 25px;
$font-large: 35px;
$font-xlarge: 70px;

/*icon size*/
$icon-small: 30px;
$icon-med: 45px;
$icon-big: 90px;

/*Resoluciones de pantallas*/
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

/*(margins & paddings)*/
$space-Xsmall: 10px;
$space-small: 20px;
$space-med: 40px;
$space-large: 60px;

/*Fonts*/
$main-source: century gothic;

/*MIXINS*/
@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	gap: 15px;
}

@mixin flex-row-i{
	list-style: none;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

@mixin footer-icons {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-top: 30px;
}

@mixin flex-center {
    display:flex;
    justify-content: center;
}